<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/styles.min.css">
</head>

<body>
    <main>
        <h1 id="heading" align="center"><a href="/">Welcome to PatBucks Cafe</a></h1>
        <section class="menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto side-background col-sm-2 col-md-2 col-lg-2 col-xs-12" id="navBackground">
                    <ul id="navlist" class="nav flex-column sticky-top">
                    <li class="nav-item"><a class="nav-link" href="#ahfw">Almondmilk Honey Flat White</a></li>
                    <li class="nav-item"><a class="nav-link" href="#cl">Coconutmilk Latte</a></li>
                    <li class="nav-item"><a class="nav-link" href="#smf">Smoked Butterscotch Frappuccino</a></li>
                    <li class="nav-item"><a class="nav-link" href="#phc">Peppermint Hot Chocolate</a></li>
                    <li class="nav-item"><a class="nav-link" href="#schc">Salted Caramel Hot Chocolate</a></li>
                    <li class="nav-item"><a class="nav-link" href="#cdc">Cinnamon Dolce Crème</a></li>
                    <li class="nav-item"><a class="nav-link" href="#crcfbb">Caramel Ribbon Crunch Frappuccino Blended Beverage</a></li>
                    <li class="nav-item"><a class="nav-link" href="#jcfbb">Java Chip Frappuccino Blended Beverage</a></li>
                    <li class="nav-item"><a class="nav-link" href="#ccccf">Chocolate Cookie Crumble Crème Frappuccino</a></li>
                    <li class="nav-item"><a class="nav-link" href="#iccb">Irish Cream Cold Brew</a></li>
                    <li class="nav-item"><a class="nav-link" href="#vsccb">Vanilla Sweet Cream Cold Brew</a></li>
                    <li class="nav-item"><a class="nav-link" href="#sfbb">Strawberry Frappuccino Blended Beverage</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    {{!-- row 1 columns 1-2-3 --}}
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="ahfw">
                                <h1 class="card-header background-blue">Almondmilk Honey Flat White</h1>
                                <img class="card-img-top" src="/public/images/image1.jpg" alt="Almondmilk Honey Flat White">
                                <div class="card-body">
                                    <p class="card-text">This flat white intentionally pairs almondmilk and signature espresso with a hint of honey, making a perfect amount of creamy, nutty sweetness.</p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#ahfw-m">Ingredients</a>
                                    <div class="modal fade" id="ahfw-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>Almondmilk [Filtered Water, Almonds, Sugar, Calcium Carbonate, Sunflower Lecithin, Sea Salt, Xanthan Gum, Guar Gum, Vitamin A Palmitate, Vitamin D 2 (Ergocalciferol)], Brewed Espresso, Honey Blend [Honey, Water, Natural Flavors, Potassium Sorbate, Xanthan Gum, Citric Acid]</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="cl">
                                <h1 class="card-header background-blue">Coconutmilk Latte</h1>
                                <img class="card-img-top" src="/public/images/image2.jpg" alt="Coconutmilk-Latte">
                                <div class="card-body">
                                    <p class="card-text">Coconutmilk and our signature espresso are intentionally paired and topped with cascara sugar to create one serious latte.</p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#cl-m">Ingredients</a>
                                    <div class="modal fade" id="cl-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>Coconutmilk [Water, Coconut Cream, Cane Sugar, Contains 2 Or Less Of Tricalcium Phosphate, Coconut Water Concentrate, Sea Salt, Natural Flavors, Xanthan Gum, Gellan Gum, Corn Dextrin, Guar Gum, Vitamin A Palmitate, And Vitamin D 2], Brewed Espresso, Cascara Topping [Sugar, Coffee Cherry Extract]</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="smf">
                                <h1 class="card-header background-blue">Smoked Butterscotch Frappuccino</h1>
                                <img class="card-img-top" src="/public/images/image3.jpg" alt="Smoked-Butterscotch-Frappuccino">
                                <div class="card-body">
                                    <p class="card-text">Notes of smoked butterscotch blended with Frappuccino roast, milk and ice. Just when you thought you already had a Frappuccino favorite.</p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#smf-m">Ingredients</a>
                                    <div class="modal fade" id="smf-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>Ice, Milk, Coffee Frappuccino Syrup [Sugar, Water, Natural Flavor, Salt, Xanthan Gum, Potassium Sorbate, Citric Acid], Coffee, Whipped Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Smoked Butterscotch Sauce [Sugar, Brown Sugar, Corn Syrup, Heavy Cream (Milk), Water, Butter (Cream, Salt), Natural Smoke Flavors, Gum Acacia, Salt, Natural Flavors, Potassium Sorbate, Xanthan Gum, Tocopherols], Smoked Butterscotch Sugar Topping [Sugar, Natural Smoke Flavor And Other Flavors, Fruit And Vegetable Colors (Apple, Purple Carrot, Hibiscus)]</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- row 2 columns 4-5-6 --}}
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="phc">
                                <h1 class="card-header background-blue">Peppermint Hot Chocolate</h1>
                                <img class="card-img-top" src="/public/images/image4.jpg" alt="Peppermint-Hot-Chocolate">
                                <div class="card-body">
                                    <p class="card-text">A classic holiday hot chocolate, made with chocolate-mocha sauce, peppermint-flavored syrup and steamed milk. Topped with sweet whipped cream and dark chocolate curls.",</p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#phc-m">Ingredients</a>
                                    <div class="modal fade" id="phc-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Milk, Mocha Sauce [Water, Sugar, Cocoa Processed With Alkali, Natural Flavor], Peppermint Syrup [Sugar, Water, Natural Flavor, Sodium Benzoate, Citric Acid], Whipped Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Vanilla Syrup [Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid], Dark Chocolate Curls [Sugar, Chocolate Mass (Processed With Alkali), Cocoa Butter, Soy Lecithin, Vanilla Extract]
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="schc">
                                <h1 class="card-header background-blue">Salted Caramel Hot Chocolate</h1>
                                <img class="card-img-top" src="/public/images/image5.jpg" alt="Coconutmilk-Latte">
                                <div class="card-body">
                                    <p class="card-text">Steamed milk and mocha sauce are combined with toffee nut and vanilla syrups, then topped with sweetened whipped cream, caramel sauce and a blend of turbinado sugar and sea salt.</p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#schc-m">Ingredients</a>
                                    <div class="modal fade" id="schc-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Milk, Mocha Sauce [Water, Sugar, Cocoa Processed With Alkali, Natural Flavor], Toffee Nut Syrup [Sugar, Water, Natural Flavor, Salt, Sodium Benzoate, Citric Acid], Whipped Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Vanilla Syrup [Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid], Caramel Sauce [Sugar, Corn Syrup, Butter (Cream (Milk), Salt), Water, Heavy Cream, Nonfat Dry Milk, Natural Flavors, Salt, Mono Diglycerides, Soy Lecithin, Sulfites], Sea Salt Topping [Turbinado Sugar, Smoked Sea Salt, Less Than 2 Silicon Dioxide]
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="cdc">
                                <h1 class="card-header background-blue">Cinnamon Dolce Crème</h1>
                                <img class="card-img-top" src="/public/images/image6.jpg" alt="Smoked-Butterscotch-Frappuccino">
                                <div class="card-body">
                                    <p class="card-text">We combine freshly steamed milk and cinnamon dolce–flavored syrup, topped with sweetened whipped cream and a cinnamon dolce topping to give you a creamy, special treat.</p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#cdc-m">Ingredients</a>
                                    <div class="modal fade" id="cdc-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Milk, Cinnamon Dolce Syrup [Sugar, Water, Natural Flavor, Citric Acid, Potassium Sorbate], Whipped Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Cinnamon Dolce Topping [Sugar, Cinnamon, Salt, Extractives Of Butter (Milk), And Other Natural Flavor]
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- row 3 columns 7-8-9 --}}
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="crcfbb">
                                <h1 class="card-header background-blue">Caramel Ribbon Crunch Frappuccino Blended Beverage</h1>
                                <img class="card-img-top" src="/public/images/image7.jpg" alt="Caramel-Ribbon-Crunch-Frappuccino-Blended-Beverage">
                                <div class="card-body">
                                    <p class="card-text">
                                        Buttery caramel syrup blended with coffee, milk and ice, then topped with a layer of dark caramel sauce, whipped cream, caramel drizzle and a crunchy caramel-sugar topping—oh-so-beautifully delicious
                                        </p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#crcfbb-m">Ingredients</a>
                                    <div class="modal fade" id="crcfbb-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Ice, Milk, Coffee Frappuccino Syrup [Sugar, Water, Natural Flavor, Salt, Xanthan Gum, Potassium Sorbate, Citric Acid], Whipped Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Coffee, Dark Caramel Sauce [Corn Syrup, Sweetened Condensed Milk (Milk, Sugar), Water, Sugar, Natural Flavors, Butter (Cream, Salt), Salt, Sunflower Lecithin, Potassium Sorbate], Caramel Sauce [Sugar, Corn Syrup, Butter (Cream (Milk), Salt), Water, Heavy Cream, Nonfat Dry Milk, Natural Flavors, Salt, Mono Diglycerides, Soy Lecithin, Sulfites], Caramel Sugar Topping [Cane Sugar, Natural Flavors, Vegetable Colors (Pumpkin, Apple, Purple Carrot, Hibiscus), Salt, Annatto, Baking Soda]                                                    
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="jcfbb">
                                <h1 class="card-header background-blue">Java Chip Frappuccino Blended Beverage</h1>
                                <img class="card-img-top" src="/public/images/image8.jpg" alt="Java-Chip-Frappuccino-Blended-Beverage">
                                <div class="card-body">
                                    <p class="card-text">We blend mocha sauce and Frappuccino chips with coffee, milk and ice, then top it off with whipped cream and a mocha drizzle to bring you endless java joy.</p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#jcfbb-m">Ingredients</a>
                                    <div class="modal fade" id="jcfbb-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Ice, Milk, Coffee Frappuccino Syrup [Sugar, Water, Natural Flavor, Salt, Xanthan Gum, Potassium Sorbate, Citric Acid], Whipped Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Coffee, Mocha Sauce [Water, Sugar, Cocoa Processed With Alkali, Natural Flavor], Frappuccino Chips [Confectionery Coating (Sugar, Palm Kernel And Palm Oils, Cocoa Processed With Alkali, Soy Lecithin, Vanilla, Milk), Cocoa (Processed With Alkali, 9), Cookie Crumbs (Unbleached Unenriched Wheat Flour, Sugar, Palm And Palm Kernel Oil, Cocoa Processed With Alkali, Chocolate Mass, Salt, Sodium Bicarbonate, Soy Lecithin, Natural Flavor), Chocolate Mass (2), And Salt                                                    
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="ccccf">
                                <h1 class="card-header background-blue">Chocolate Cookie Crumble Crème Frappuccino</h1>
                                <img class="card-img-top" src="/public/images/image9.jpg" alt="Smoked-Butterscotch-Frappuccino">
                                <div class="card-body">
                                    <p class="card-text">Mocha sauce and Frappuccino chips are blended with milk and ice, layered on top of whipped cream and chocolate cookie crumble and topped with vanilla whipped cream, mocha drizzle and even more chocolate cookie crumble. These layers ensure each sip is as good as the last; all the way to the end.",
                                    </p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#ccccf-m">Ingredients</a>
                                    <div class="modal fade" id="ccccf-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Ice, Milk, Creme Frappuccino Syrup [Sugar, Water, Natural Flavor, Salt, Xanthan Gum, Potassium Sorbate, Citric Acid], Whipped Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Mocha Sauce [Water, Sugar, Cocoa Processed With Alkali, Natural Flavor], Frappuccino Chips [Confectionery Coating (Sugar, Palm Kernel And Palm Oils, Cocoa Processed With Alkali, Soy Lecithin, Vanilla, Milk), Cocoa (Processed With Alkali, 9), Cookie Crumbs (Unbleached Unenriched Wheat Flour, Sugar, Palm And Palm Kernel Oil, Cocoa Processed With Alkali, Chocolate Mass, Salt, Sodium Bicarbonate, Soy Lecithin, Natural Flavor), Chocolate Mass (2), And Salt], Chocolate Cookie Grind Topping [Sugar, Enriched Flour (Wheat Flour, Niacin, Reduced Iron, Thiamine Mononitrate, Riboflavin, Folic Acid), Palm And Palm Kernel Oil, Cocoa Processed With Alkali, Salt, Sodium Bicarbonate, Soy Lecithin, Natural Flavor]"                                                    
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- row 4 columns 10-11-12 --}}
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="iccb">
                                <h1 class="card-header background-blue">Irish Cream Cold Brew</h1>
                                <img class="card-img-top" src="/public/images/image10.jpg" alt="Irish-Cream-Cold-Brew">
                                <div class="card-body">
                                    <p class="card-text">
                                        Starbucks Cold Brew with Irish cream syrup, topped with vanilla sweet cream cold foam and a strike of cocoa powder.",                                        
                                    </p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#iccb-m">Ingredients</a>
                                    <div class="modal fade" id="iccb-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Brewed Coffee, Ice, Vanilla Sweet Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Milk, Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Irish Cream Syrup [Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid], Cocoa Powder Topping [Cocoa Powder Processed With Alkali, Sugar]"                                                    
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="vsccb">
                                <h1 class="card-header background-blue">Vanilla Sweet Cream Cold Brew</h1>
                                <img class="card-img-top" src="/public/images/image11.jpg" alt="Vanilla-Sweet-Cream-Cold-Brew">
                                <div class="card-body">
                                    <p class="card-text">
                                        Our slow-steeped custom blend of Starbucks Cold Brew coffee accented with vanilla and topped with a delicate float of house-made vanilla sweet cream that cascades throughout the cup. It's over-the-top and super-smooth.",
                                        
                                    </p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#vsccb-m">Ingredients</a>
                                    <div class="modal fade" id="vsccb-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Ice, Brewed Coffee, Vanilla Sweet Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Milk, Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Vanilla Syrup [Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid]"
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" id="sfbb">
                                <h1 class="card-header background-blue">Strawberry Frappuccino Blended Beverage</h1>
                                <img class="card-img-top" src="/public/images/image12.jpg" alt="Strawberry-Frappuccino-Blended-Beverage">
                                <div class="card-body">
                                    <p class="card-text">
                                        Summer's favorite berry is the star of this delicious Frappuccino Blended Beverage—a blend of ice, milk and strawberry puree layered on top of a splash of strawberry puree and finished with vanilla whipped cream.
                                    </p>
                                    <a  href="" class="btn btn-primary foreground-Readmore-button background-Readmore-button" data-toggle="modal" data-target="#sfbb-m">Ingredients</a>
                                    <div class="modal fade" id="sfbb-m" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title">Ingredients</h2>    
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Ice, Milk, Creme Frappuccino Syrup [Sugar, Water, Natural Flavor, Salt, Xanthan Gum, Potassium Sorbate, Citric Acid], Strawberry Puree Sauce [Strawberry Puree, White Grape Juice Concentrate, Water, Fruit And Vegetable Juice For Color, Natural Flavors, Xanthan Gum, Citric Acid], Whipped Cream [Cream (Cream, Mono And Diglycerides, Carageenan), Vanilla Syrup (Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid)], Classic Syrup [Sugar, Water, Natural Flavors, Potassium Sorbate, Citric Acid]
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </main>

    <script src="/public/js/vendor.min.js">
    </script>
</body>