$body-background: darkslategray;
$brand-primary: black;
$primary-font-size: 14pt;
$foreground:white;
$background:black;
$secondary-font-size: $primary-font-size / 2.5pt;
$main-content-class: "menu";
$foreground-readmore-button:#ffffff;
$background-readmore-button:black;
$font:'Helvitica',sans-serif;

